.container{
    width: 600px;
    border: 1px solid black;
}

.box{
    width: 200%;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(195, 194, 194);
}
.db{
    display: inline-block;
}
.box2{
    display: inline-block;;
}